* {
  margin: 0;
  padding: 0;
}

.my-body {
  background-color: #d7e1ed;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
}

h5 {
  color: #494c6c;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-deck-wrapper {
  margin-left: 5%;
}

.my-card {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 5px;
  height: auto;
  width: 280px;
  border: none;
  max-width: 18rem;
}

.card-title-height {
  height: 60px;
  margin-bottom: 5px;
}

.my-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.my-avatar {
  margin-top: 24px;
}

.my-card-text {
  margin-bottom: 20px;
  font-size: 14px;
  color: #79828b;
}

.my-hr {
  width: 68px;
  border: none;
  border-top: 2px solid #e2e6e7;
  margin: auto;
  font-size: 14px;
}

.my-btn-link {
  margin-top: 20px;
  color: #535a70;
}

.my-btn-link:hover {
  background-color: #4aaaf4;
  border-radius: 28px;

  display: inline-block;
  color: #ffffff;

  font-size: 14px;
  padding: 12px 28px;
  text-decoration: none;
  box-shadow: 0 14px 28px rgba(176, 229, 254, 0.1),
    0 10px 10px rgba(0, 0, 0, 0.1);
}
